@model EventsManager.ViewModels.AccountModel.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<body>
    <div class="container">
        <div class="hidden-xs hidden-sm">
            <img src="~/Images/astro-changepassword.jpg" width="500" height="500" style="position:absolute;top:20%;left:58%;" />
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-5">
                <div class="create-form-bottom">
                    <center><span style="color:black;text-transform:uppercase;font-size:20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Change Password</span></center>
                    <br />
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.ValidationMessageFor(a => a.oldpassword)
                            @Html.PasswordFor(a => a.oldpassword, new { @placeholder="Old Password", @class="form-control fontStyle"})
                        </div>
                        
                        <div class="form-group">
                            @Html.ValidationMessageFor(a => a.newpassword)
                            @Html.PasswordFor(a => a.newpassword, new { @placeholder = "New Password", @class = "form-control fontStyle" })
                        </div>
                       
                        <div class="form-group">
                            @Html.ValidationMessageFor(a => a.confirmpassword)
                            @Html.PasswordFor(a => a.confirmpassword, new { @placeholder = "Confirm Password", @class = "form-control fontStyle" })
                        </div>
                        
                        <center>
                            <div class="form-group">
                                <button type="submit" class="custombtn" style="background-color:#5f968e !important;color:white !important;border:none !important;">Proceed</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="custombtn">Cancel</button>
                            </div>
                        </center>
                        
                    }
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</body>


