@model EventsManager.ViewModels.AccountModel.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@Html.ValidationSummary(false)
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    @Html.PasswordFor(a => a.oldpassword)
    @Html.PasswordFor(a => a.newpassword)
    @Html.PasswordFor(a => a.confirmpassword)
    <button type="submit">Proceed</button>
}

